<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/knowledge/kgsearch/widget/1.0/widget.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
    <script src="/javascripts/index.js" defer></script>
    <script src="/javascripts/canvas.js" defer></script>
    <script type="text/javascript" src="https://www.gstatic.com/knowledge/kgsearch/widget/1.0/widget.min.js" defer></script>
    <script src="/javascripts/knowledge-annotations.js" defer></script>
    <script src="https://unpkg.com/idb/build/iife/index-min.js" defer></script>
</head>

<body onload="init()">
    <div id="initial_form">
        <h1>
            <%= title %>
        </h1>
        <p>Please enter your name and ID of the room you'd like to join</p>
        <form onsubmit="return false;">

            <label for="name"> Your name </label>
            <input type="text" id="name" name="name">

            <label for="roomNo"> Your room </label>
            <div class="input-wrapper">
                <input type="text" id="roomNo" name="roomNo">
                <button id="roomNoGenerator" onclick="generateRoom()">Generate Room</button>
            </div>
            <button id="connect" onclick="checkRoom()">Connect</button>
        </form>
    </div>
    <div id="image_form" class="modal-wrapper hidden">
        <div class="modal">
            <h2>Select image</h2>
            <form onsubmit="return false;">
                <div class="options-wrapper">
                    <button id="show_url" onclick='imageSelector("url")'>URL</button>
                    <button id="show_upload" onclick='imageSelector("upload")'>Upload</button>
                    <button id="show_select" onclick='imageSelector("select")'>Search by Author</button>
                </div>
                <div id="imageAttributes" style="display: block">
                    <p><label for="title"> Title </label>
                        <input type="text" id="title" name="title">
                    </p>
                    <p><label for="desc"> Description </label>
                        <input type="text" id="desc" name="desc">
                    </p>
                    <p><label for="author"> Author </label>
                        <input type="text" id="author" name="author">
                    </p>
                </div>
                <div id="imageURL" style="display: block">
                    <p style=" width: 100%"><label for="image_url"> Image (URL) </label><input type="text" id="image_url"
                            name="image_url">
                    </p>
                </div>
                <div id="imageUpload" style="display: none">
                    <p><label for="image_upload"> Image </label>
                        <input type="file" name="image_upload" id="image_upload" "image/*">
                    </p>
                </div>
                <div id="imageSelect" style="display: none">
                    <p style=" width: 100%"><label for="author_search"> Author name </label>
                        <input type="text" id="author_search" name="author_search">
                        <button id="search" onclick="getImageByAuthor()">Search</button>
                    </p>
                    <div id="show_images">
                    </div>
                </div>
                <input type="hidden" id="imageType" name="imageType" value="imageUrl">
                <button id="upload" onclick="submitImage()">Upload</button>
            </form>
        </div>
    </div>
    <div id="chat_interface" class="hidden">
        <div class="modal-wrapper hidden" id="knowledge-modal">
            <div class="modal">
                <h3>Search for anything to annotate</h3>
                <input type="text" id="knowledge-search">
            </div>
        </div>

        <p>
            <span id="who_you_are"></span>, you are in room: <span id="in_room"></span>
        </p>
        <div class="image-wrapper">
            <img id="image" height="100%">
            <canvas id="canvas"></canvas>
        </div>
        <div id="history" class="boxed scrolling"></div>
        <div id="input" class="boxed">
            <form onsubmit="return false;" style="width: 100%">
                <label for="name">Write a message: </label>
                <div class="chat-wrapper">
                    <input type="text" id="chat_input" name="chat_input">
                    <button id="switch_mode">Switch to annotating</button>
                    <button id="chat_send" onclick="sendChatText()">Send</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>