*, *::before, *::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    --main-color: #2f2e3b;
    --main-color-darker: #202026;
}

body {
    padding: 0;
    margin: 0;
    font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: var(--main-color);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

h1 {
    margin: 0;
}

a {
    color: #00B7FF;
}

input {
    font: inherit;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    display: block;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    width: 100%;
    border: 2px solid transparent;
}

input:focus {
    outline: none;
    border: 2px solid var(--main-color);
}

button {
    border: none;
    font: inherit;
    display: block;
    background-color: var(--main-color);
    color: #fff;
    font-weight: bold;
    padding: 0.625rem 1rem;
    border-radius: 4px;
    white-space: nowrap;
    cursor: pointer;
}

button:hover {
    background-color: var(--main-color-darker);
}

.input-wrapper {
    display: flex;
    grid-column-gap: 0.5rem;
    margin-top: 0.25rem;
}

.input-wrapper input {
    margin: 0;
}

#connect {
    margin-top: 1rem;
}

#initial_form {
    background-color: #565563;
    border-radius: 8px;
    padding: 2rem;
}

.boxed {
    width: 100%;
}

.bottom {
    position: absolute;
    bottom: 10px;
    width: 90%;
}

.scrolling {
    background-color: var(--main-color);
    overflow-y: scroll;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.outsideWrapper {
    width: 256px;
    height: 256px;
    margin: 20px 60px;
    border: 1px solid #0000ff;
}

.insideWrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.coveredImage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.coveringCanvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 0, 0, .1);
}

#canvas {
    display: flex;
}

#show_images {
    display: flex;
    flex-wrap: wrap;
}

#imageDiv {
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
}

#chat_interface {
    width: 100%;
    height: 100%;
    background-color: #565563;
    padding: 2rem;
    display: grid;
    grid-template-rows: 7.5% 50% 30% 12.5%;
}

#chat_input {
    margin: 0;
}

.modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    z-index: 2137;
}

.modal {
    background-color: #565563;
    display: inline-block;
    margin: auto;
    padding: 2rem;
    position: relative;
    border-radius: 8px;
}

.modal-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    z-index: -1;
}

.options-wrapper {
    display: flex;
    gap: 1rem;
}

.chat-wrapper {
    display: flex;
    gap: 1rem;
    margin-top: 0.25rem;
}

.move_room_button {
    border: 1px solid grey;
}

.image-wrapper {
    width: 100%;
    height: 100%;
}

/* helper class for controlling elements visibility */
.hidden {
    display: none !important;
}

/* knowledge annotations */
.rect {
    position: absolute;
    border: 2px solid var(--main-color-darker);
}

.rect-finished:hover {
    border: 4px solid var(--main-color-darker);
}

.tooltip {
    position: absolute;
    top: calc(100% - 20px);
    left: calc(100% - 20px);
    background-color: #fff;
    color: #000;
    padding: 1rem;
    display: none;
    border-radius: 8px;
    width: 400px;
    box-shadow:  0px 0px 8px 3px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.rect-finished:hover .tooltip {
    display: block;
}

.tooltip h4 {
    margin-top: 0;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

#knowledge-search {
    width: 400px;
    display: block;
}

.kge-search-picker {
    width: 400px;
    z-index: 2;
}

#knowledge-modal h3 {
    margin: 0;
    margin-bottom: 1rem;
}